<style>
  #insta-feed {
    width:{{ section.settings.feed_width }}%;
  }
</style>

<div class="page-width">
  <div id="insta-feed"></div>
</div>

{% schema %}
{
  "name": "Instafeed App",
  "settings": [
    {
      "type": "range",
      "id": "feed_width",
      "min": 50,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Feed Width",
      "default": 100
    }
  ],
  "presets": [
    {
      "name": "Instafeed App",
      "category": "Instagram Feed"
    }
  ]
}
{% endschema %}