{% assign section_title = section.settings.title %}

<div class="page-width">
  <div class="section-header text-center">
      <div class="sc-section-title">
        <h2>{{ section_title }}</h2>
      </div>

  </div>
  <div class="stl_main"></div>
</div>
{% schema %}
{
  "name": "Staff Choice",
  "settings":
  [
  {
    "type": "select",
    "id": "color_scheme",
    "label": "Color Scheme",
    "options": [
    {
      "value": "white",
      "label": "White"
    },
    {
      "value": "light",
      "label": "Light"
    },
    {
      "value": "feature",
      "label": "Feature"
    },
    {
      "value": "dark",
      "label": "Dark"
    }
    ]
  },
  {
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "Staff Choice"
  },
  {
    "type": "image_picker",
    "id": "main_image",
    "label": "Main Image"
  },
  {
    "type": "select",
    "id": "image_position",
    "label": "Image Position",
    "options": [
    {
      "value": "left",
      "label": "Left"
    },
    {
      "value": "right",
      "label": "Right"
    }
    ]
  },
  {
    "type": "color",
    "id": "hotspot_color",
    "label": "Hotspot Color",
    "default": "#FFFFFF"
  },
  {
    "type": "text",
    "id": "description_title",
    "label": "Description Title"
  },
  {
    "type": "textarea",
    "id": "description",
    "label": "Description"
  },
  {
    "type": "link_list",
    "id": "button_link",
    "label": "Button Link"
  }
  ],
  "blocks": [
  {
    "name": "product",
    "type": "text",
    "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "range",
      "id": "position_from_top",
      "label": "Position from Top",
      "min": 0,
      "max": 95,
      "step": 1,
      "unit": "%",
      "default": 0
    },
    {
      "type": "range",
      "id": "position_from_left",
      "label": "Position from Left",
      "min": 0,
      "max": 95,
      "step": 1,
      "unit": "%",
      "default": 0
    }
    ]
  }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Staff Choice"
    }
  ]

}
{% endschema %}